*.a
*.png
*.o
*.mod
*.exe
*.out
*.err
*.nc
*.grb
*.bin
*.dat
*.log
*.tmp
*.bak
*.swp
*.cdl
*.x
/Data/
/Tools/
/WW3_old/
datain/
*_d01
wr_05122021
/Projects/ATLSW12/wr_*/
!/Projects/ATLSW12/wr_17022023
/Work/ATLSW12/
coawstG
coawstG*
coawstM
coawstM*
*.backup
coawst.gnu.atlsw12_noclean
GH001
